/[Ll]ibrary/
/[Tt]emp/
/[Obj]/
/[Build]/
/[Builds]/
/[Logs]/
/[UserSettings]/

# Abaikan file arsip installer berukuran besar
*.tgz
*.zip
*.tar.gz

# Abaikan file hasil build Android / iOS
*.apk
*.aar
*.aab
*.so